@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["ProvaView"] = Localizer["Prova"];
    ViewData["Comites"] = "Londra";
    ViewData["FineVotazione"] = "25/11/2021 23:59";
}
<!DOCTYPE html>
<html lang="it-it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ministero Affari Esteri Servizi Consolari Online">
    <meta name="copyright" content="Ministero Affari Esteri">
    <meta name="title" content="Servizi Consolari Online">
    <meta name="category" content="public, government">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, proxy-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>@Localizer["Sito-Nome"] | @ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery-351.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/32496546a7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0964c0b11f.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body> 
    <header class="lookB pt-4 pb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 align-self-center">
                    <img src="~/img/header-logo.png" alt="" class="img-fluid logo-img" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center text-center">
                    <h1 class="text-center lookD display-4">@Localizer["Sito-Nome"]</h1>
                    <h4 class="text-center lookD">@Localizer["Sito-SottotitoloA"]</h4>
                    <h5 class="text-center lookD">@Localizer["Sito-SottotitoloB"] @DateTime.Now.Year</h5>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 align-self-center"></div>
            </div>
        </div>
    </header>
    @*<partial name="_CookieConsentPartial" />*@
    <div id="main-container" class="container">
        <main class="pb-3">
            <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirm-modal-header">&nbsp;</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="confirm-modal-body"></div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="pc-button pc-button-grey text-center" data-dismiss="modal">CHIUDI</a>
                            <a href="javascript:void(0);" class="pc-button pc-button-green text-center" id="confirm-modal-confirm">PROCEDI</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ajax-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="ajax-modal-loader" class="ajax-modal-loader"><img src="~/img/loader.GIF" alt="" /></div>
                        <div id="ajax-modal-content" class="ajax-modal-content"></div>
                    </div>
                </div>
            </div>
            @RenderBody()
            <a id="scroll" class="maeci-bk" href="javascript:void(0);"><i class="material-icons">keyboard_arrow_up</i></a>
        </main>
    </div>
    <footer id="footer" class="border-top footer pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="~/img/footer-logo.png" alt="" class="logo-img-footer img-fluid" />
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <ul>
                        <li><a href="https://www.esteri.it/mae/it/">MAECI</a></li>
                        <li><a href="https://serviziconsolari.esteri.it/ScoFE/index.sco">Portale FAST.IT</a></li>
                        <li><a href="https://www.esteri.it/mae/it/servizi/italiani-all-estero/organismirappresentativi/comites.html">Portale Com.It.Es</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <ul>
                        <li>
                            <a class="white-text" asp-area="" asp-controller="Home" asp-action="FAQ" aria-label="FAQ">FAQ</a>
                        </li>
                        <li>
                            <a class="white-text" asp-area="" asp-controller="Home" asp-action="NoteLegali" aria-label="Note legali">Note Legali</a>
                        </li>
                        <li>
                            <a class="white-text" asp-area="" asp-controller="Home" asp-action="Privacy" aria-label="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="white-text" asp-area="" asp-controller="Home" asp-action="CookiePolicy" aria-label="Informativa cookie">Informativa cookie</a>
                        </li>
                    </ul>
                </div>
                @*<div class="col-12 col-sm-12 col-md-12 col-lg-12 copy-div" style="font-size:10px;">Si consiglia la fruizione del portale con IE 11 o superiori, Chrome 83 o superiori, Firefox 72 o superiori.</div>*@
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 copy-div pt-0"><h5>&copy; 2021 - Ministero degli Affari Esteri e della Cooperazione Internazionale</h5></div>
            </div>
            @*<div id="v-div">v. @Startup.StaticConfig.GetSection("Version").Value</div>*@
        </div>
    </footer>
    <div id="alert-div" tabindex="-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-white text-center pt-3 pb-3">
                    <a style="float:right;" href="javascript:void(0);" onclick="$('#alert-div').css('top','-300px');" tabindex="-1"><i class="material-icons text-secondary">close</i></a>
                    <p id="alert-content"></p>
                </div>
            </div>
        </div>
    </div>
    @*vecchio *@
    <environment include="Development">
            <script src="~/lib/jquery/dist/jquery-351.js"></script>           
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

    @*nuovo da webapp3*@
    @*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery-351.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@



    @RenderSection("Scripts", required: false)
    <script>
        function setlanguage(culture) {
            document.getElementById("form-set-language-culture").value = culture;
            document.getElementById("form-set-language").submit();
        }
    </script>
</body>
</html>
