@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Http;
@{
    Layout = "_Layout";
}
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> Localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="lookC pt-5 pl-5 pr-5 pb-5">              
                <i class="fa fa-user-clock fa-4x fa-pull-left text-danger" aria-hidden="true"></i>
                <h2 class="">Termine votazione: <span class="font-weight-bold text-danger">@ViewData["FineVotazione"]</span></h2>
                <h2>@Localizer["TimeOver-CT1"] <span class="font-weight-bold">@Context.Session.GetString("_Comites")</span> @Localizer["TimeOver-CT2"]</h2>                              
                <h3>@Localizer["TimeOver-CT3"]</h3>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="text-center">
                <partial name="_ButtonAppA"/>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
</div>